-- Add API Key fields to brand_settings
ALTER TABLE brand_settings ADD COLUMN IF NOT EXISTS api_provider TEXT DEFAULT 'openai';
ALTER TABLE brand_settings ADD COLUMN IF NOT EXISTS api_key TEXT;
ALTER TABLE brand_settings ADD COLUMN IF NOT EXISTS api_model TEXT DEFAULT 'gpt-4o';

-- Create a secure RPC function to fetch a Creator's API Key based on a published Course ID
-- This bypasses RLS so anonymous learners can trigger AI features safely via our backend.
CREATE OR REPLACE FUNCTION get_creator_api_settings(p_course_id UUID)
RETURNS json
LANGUAGE plpgsql
SECURITY DEFINER
AS $$
DECLARE
    v_creator_id UUID;
    v_api_settings json;
BEGIN
    -- 1. Get the creator of the published course
    SELECT user_id INTO v_creator_id 
    FROM courses 
    WHERE id = p_course_id AND status = 'published';

    IF v_creator_id IS NULL THEN
        RAISE EXCEPTION 'Course not found or not published';
    END IF;

    -- 2. Fetch the creator's API settings
    SELECT json_build_object(
        'provider', api_provider,
        'apiKey', api_key,
        'model', api_model
    ) INTO v_api_settings 
    FROM brand_settings 
    WHERE user_id = v_creator_id;

    RETURN v_api_settings;
END;
$$;
